<div class="users-container">
    <div *ngIf="loading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  
    <div class="users-list">
      <mat-card
        class="user-card"
        *ngFor="let user of users"
        (click)="goToUserDetail(user.id)"
      >
        <img mat-card-image [src]="user.avatar" alt="{{ user.first_name }}">
        <mat-card-content>
          <h3>{{ user.first_name }} {{ user.last_name }}</h3>
          <p>ID: {{ user.id }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  
    <mat-paginator
      [length]="totalUsers"
      [pageSize]="perPage"
      (page)="onPageChange($event)"
      [pageIndex]="page - 1">
    </mat-paginator>
  </div>
  
